
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="/fragments/navigation :: navigation"></div>

<div th:switch="${posts}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>title</th>
                <th>body</th>
                <th>Current Status</th>
                <th>edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.title}"></td>
                <td th:text="${post.body}"></td>
                <td th:text="${post.isApproved == false}? Un-Approved : Approved "></td>
                <td ><a th:href="@{/post/approve/{id}(id=${post.id})}"> <p th:text="${post.isApproved == false}? Approved"></p> </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>