
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="/fragments/navigation :: navigation"></div>
<div th:class="box" style="
    width: 100%;
    text-align: center;
    padding: 10px 20px;">

    <h1>Register new user</h1>

    <form
            action="#"
            th:action="@{/user/create/admin}"
            th:object="${users}"
            method="post"
            style="   width: 100%;
                         text-align: center;
                         padding: 10px 20px;">

        <label >Full name:</label>
        <input type="text" th:field = "*{userName}" style="width: 200px; height: 30px; margin-bottom: 10px" placeholder="User Name" required />
        <br />

        <label>Password:</label>
        <input type="password" th:field="*{password}"  style="width: 200px; height: 30px; margin-bottom: 10px" placeholder="Password" required />
        <br />

        <div style=";
                   width: 100%;
                   text-align: center;
                   /*justify-content: space-between;*/
                    ">
            <!--                <button type="submit" style="">Sign In</button>-->
            <!--                <a style="padding-bottom:50px; font-size: 20px;" th:href="@{/login}">Sign In</a>-->

            <button type="submit"   style="    margin-left: 175px;padding: 11px;font-size: 20px;">Register</button>
        </div>


    </form>


</div>
</body>
</html>